.ordenador {
  margin-bottom: 30px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 50px;
}

/*
grid-template-columns: repeat(
  auto-fix
  mini-max(
    150px
    1fr
  )
  grid-gap: 30px;
)
*/
